<!-- Robor controllers -->
<launch>

  <arg name="simulator"/>
  <arg name="manager"/>
  <arg name="loop_rate"/>

  <arg name="use_only_odometry"/>
  <arg name="use_optitrack"/>
  <arg name="use_map"/>
  <arg name="do_mapping"/>

  <arg name="map_frame"/>
  <arg name="odom_frame"/>
  <arg name="robot_frame"/>
  <arg name="reference_frame"/>
  <arg name="optitrack_frame"/>

  <arg name="front_scanner_frame"/>
  <arg name="rear_scanner_frame"/>
  <arg name="UAM_scanner_frame"/>
  
  <node pkg="nodelet" type="nodelet" name="manual_controller" args="load robor_controllers/ManualController $(arg manager)" machine="yb_pc">
    <param name="active"        value="true"/>
    <param name="publish_ref_vel" value="false"/>

    <param name="use_keys"      value="false"/>
    <param name="use_joy"       value="false"/>

    <param name="loop_rate"     value="$(arg loop_rate)"/>
    <param name="time_constant" value="0.1"/>

    <param name="linear_gain"   value="0.3"/>
    <param name="angular_gain"  value="0.5"/>

    <param name="parent_frame_id" value="$(arg odom_frame)"/>
    <param name="child_frame_id"  value="$(arg reference_frame)"/>

    <remap from="robot_state" to="odom"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="feedback_controller" args="load robor_controllers/FeedbackController $(arg manager)" machine="yb_pc">
    <param name="active"       value="false"/>
    <param name="run"          value="false"/>

    <param name="use_ff"       value="true"/>

    <param name="loop_rate"    value="$(arg loop_rate)"/>

    <param name="gain_x"       value="0.5"/>
    <param name="gain_y"       value="0.5"/>
    <param name="gain_theta"   value="0.5"/>

    <param name="max_u"        value="0.5"/>
    <param name="max_v"        value="0.5"/>
    <param name="max_w"        value="3.0"/>

    <remap from="robot_state" to="odom"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="urakubo_controller" args="load robor_controllers/UrakuboController $(arg manager)" machine="yb_pc">
    <param name="active"       value="false"/>
    <param name="run"          value="false"/>

    <param name="normalize_gradient" value="true"/>

    <param name="loop_rate"     value="$(arg loop_rate)"/>

    <param name="a"            value="0.5"/>
    <param name="b_"           value="2.5"/>
    <param name="k_w"          value="0.1"/>
    <param name="epsilon"      value="0.0001"/>
    <param name="kappa"        value="3.0"/>

    <param name="min_saddle_gradient"       value="0.05"/>
    <param name="min_normalizing_potential" value="0.07"/>
    <param name="min_normalizing_gradient"  value="0.05"/>

    <param name="world_x"      value="0.0"/>
    <param name="world_y"      value="0.0"/>
    <param name="world_radius" value="3.0"/>

    <param name="max_u"        value="0.4"/>
    <param name="max_v"        value="0.4"/>
    <param name="max_w"        value="2.7"/>

    <remap from="robot_state" to="odom"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="potentials_controller" args="load robor_controllers/PotentialsController $(arg manager)" machine="yb_pc">
    <param name="active"       value="false"/>
    <param name="run"          value="false"/>
    <param name="assisted_control" value="false"/>

    <param name="loop_rate"     value="$(arg loop_rate)"/>

    <param name="R"            value="0.5"/>
    <param name="eta"          value="1.2"/>
    <param name="delta"        value="0.2"/>
    <param name="ko_velocity"  value="0.15"/>

    <param name="gain_pose"    value="0.4"/>
    <param name="gain_theta"   value="3.0"/>

    <param name="max_u"        value="0.4"/>
    <param name="max_v"        value="0.4"/>
    <param name="max_w"        value="3.0"/>

    <remap from="robot_state" to="odom"/>
  </node>

</launch>
<!-- -->
