# This service is dedicated to run ROS during
# the startup of the system

[Unit]
Description=ROS master
Requires=dev-sensors-hokuyo_H0904847.device dev-sensors-hokuyo_H1320250.device
Wants=network-online.target
After=network.target network-online.target dev-sensors-hokuyo_H0904847.device dev-sensors-hokuyo_H1320250.device

[Service]
Type=simple
ExecStart=/usr/local/bin/rostart.sh
#ExecStop=
Restart=on-failure

[Install]
WantedBy=default.target multi-user.target
