<!-- Robor Startup -->
<!-- This file is launched during Robor startup -->
<launch>

  <arg name="loop_rate"         value="100.0"     doc="The loop rate of nodes in Hz"/>
  <arg name="nodelet_manager"   value="nm"        doc="The main nodelet manager"/>

  <arg name="map_frame"         value="map"       doc="Name of the frame affixed to the origin of map"/>
  <arg name="odom_frame"        value="odom"      doc="Name of the movable frame slowly drifting as the odometry diverges"/>
  <arg name="robot_frame"       value="robot"     doc="Name of the moving frame affixed to the robot base"/>
  <arg name="reference_frame"   value="reference" doc="Name of the frame describing the reference trajectory"/>
  <arg name="optitrack_frame"   value="optitrack" doc="Name of the frame describing the measurement of optitrack"/>

  <arg name="front_scanner_frame" value="front_scanner"/>
  <arg name="rear_scanner_frame"  value="rear_scanner"/>


  <node name="$(arg nodelet_manager)" pkg="nodelet" type="nodelet" args="manager"/>


  <node name="youbot_base_driver" pkg="youbot_base_driver" type="youbot_base_driver_node" required="true">
    <param name="publish_tf"       value="true"/>
    <param name="loop_rate"        value="$(arg loop_rate)"/>

    <param name="parent_frame_id"  value="$(arg odom_frame)"/>
    <param name="child_frame_id"   value="$(arg robot_frame)"/>

    <param name="config_file_path" value="/home/youbot/robor_ws/src/youbot_driver/config"/>
    <param name="config_file_name" value="youbot-base"/>
  </node>


  <include file="$(find robor_utilities)/launch/sublaunch/sensors.launch" pass_all_args="true"/>
  <include file="$(find robor_utilities)/launch/sublaunch/utilities.launch" pass_all_args="true"/>
  <include file="$(find robor_utilities)/launch/sublaunch/controllers.launch" pass_all_args="true"/>
  <include file="$(find robor_utilities)/launch/sublaunch/obstacle_detector.launch" pass_all_args="true"/>

</launch>
<!-- -->
